/*  your css code here. If applicable */
.traffic-light{background-color:#EAEDED;
		display:flex;
border:5px solid black;
			   border-radius:20px;
			    width: 300px;
    height: 100px;
			   justify-content:space-around;
			    align-items: center;
			   
   
		}
	 .green{border-radius:50px;
		   background-color:green;
		   height:70px;
		   width:70px}
.yellow{border-radius:50px;
		   background-color:yellow;
		   height:70px;
		   width:70px}
.red{border-radius:50px;
		   background-color:red;
		   height:70px;
		   width:70px}